name: Auto Update Flake Inputs
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup SSH Key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.GHA_DK }}
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v28
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          pr-title: "Update flake.lock"
          pr-labels: |
            automated
            dependencies
